{{ attach_library('typed_entity_ui/php_class_info') }}
<div{{ attributes }}>
  <h3>{{ 'Class'|t }}</h3>
  <code class="className">{{ name }}</code>
  <h4>{{ 'Documentation'|t }}</h4>
  <code>{{ doc_comment }}</code>
  {% if parent %}
    <h4>{{ 'Parent'|t }}</h4>
    <code class="className">{{ parent }}</code>
  {% endif %}
  {{ interfaces }}
</div>
