{{ attach_library('typed_entity_ui/php_class_summary') }}
<div{{ attributes }}>
  <pre class="comment">{{ doc }}</pre>
  <div>
    <span class="keyword">{{ keyword }}</span>
    <span class="namespace">{{ namespace }}</span>
    <abbr title="{{ class_file }}" class="class-name">{{ name }}</abbr>
  </div>
</div>
